<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% if user_signed_in? %>
  <div>
    <p><%= link_to "New project", new_project_path %></p>
    <% @projects.each do |project| %>
      <p><%= project.name %></p>
      <p><%= project.description %></p>
    <% end %>
  </div>
  <%= link_to "Log out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign_in", new_user_session_path %>
  <%= link_to "Sign_up", new_user_registration_path %>
<% end %>

